.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.grid line {
    stroke: #FBFBFB;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.axis--x path,
.axis--y path {
    display: none;
}

.axis--x line,
.axis--y line {
    stroke: none;
}

.graph-svg-component {
    background-color: #F0F4F5;
}

.mouse-per-line text {
    stroke: black;
    stroke-width: 0.4px;
    opacity: 0.8;
    color: orange;
}
