<!DOCTYPE html>
<html lang="pt-BR" data-ng-app="app">

<head>
    <meta charset="UTF-8" />
    <meta nome="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Quebra-Quebra</title>
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <link rel="stylesheet" href="../assets/css/components.css">
    <link rel="stylesheet" href="../assets/css/responsee.css">
    <link rel="stylesheet" href="../assets/css/icons.css">
    <!-- Include the Angular JS library -->
    <script type="text/javascript" src="../assets/js/angular.min.js"></script>
    <script type="text/javascript" src="../assets/js/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="../assets/js/angular-color-this.min.js"></script>
    <!-- Angular Module -->
    <script type="text/javascript" src="../angular/model/app.js"></script>
    <!-- Angular Controller -->
    <script type="text/javascript" src="../angular/controller/InteresseController.js"></script>
    <script type="text/javascript" src="../angular/controller/EquipeController.js"></script>
    <!-- Angular Directive -->
    <script type="text/javascript" src="directive/footer.js"></script>
    <!-- CUSTOM STYLE -->
    <link rel="stylesheet" href="../assets/css/template-style.css">
    <link href='assets/css/font.css' rel='stylesheet' type='text/css'>
    <script src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/template-scripts.js"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <nav>
            <div class="line">
                <div class="s-12 l-2">
                    <a href="index.html"><img class="logo" src="../assets/img/logo.png"></img>
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <!-- Grafico -->
        <div id="grafico">
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-12 l-12">
                        <div class="tittle">
                            <h2>Lorem Ipsum</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. .
                            </p>
                        </div>
                        <div class='tableauPlaceholder' id='viz1497183535405' style='position: relative'>
                            <noscript>
                                <a href='#'><img alt='Remuneração Deputados 2016&#47;2017 ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Qu&#47;Quebra-Quebra&#47;Planilha1&#47;1_rss.png' style='border: none' /></a>
                            </noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                                <param name='site_root' value='' />
                                <param name='name' value='Quebra-Quebra&#47;Planilha1' />
                                <param name='tabs' value='no' />
                                <param name='toolbar' value='yes' />
                                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Qu&#47;Quebra-Quebra&#47;Planilha1&#47;1.png' />
                                <param name='animate_transition' value='yes' />
                                <param name='display_static_image' value='yes' />
                                <param name='display_spinner' value='yes' />
                                <param name='display_overlay' value='yes' />
                                <param name='display_count' value='yes' />
                                <param name='filter' value='publish=yes' />
                            </object>
                        </div>
                        <div class="tittle">
                            <h2>Lorem Ipsum</h2>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc. .
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FOOTER -->
    <div footer></div>
    <script type="text/javascript" src="../assets/js/responsee.js"></script>
    <script type='text/javascript'>
    var divElement = document.getElementById('viz1497183535405');
    var vizElement = divElement.getElementsByTagName('object')[0];
    vizElement.style.width = '100%';
    vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
    var scriptElement = document.createElement('script');
    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
    vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
</body>

</html>
